.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer{
    width: 100%;
    max-width: 1200px;
    /* background-color: red; */
    height: 900px;
    padding: 10px;
}

.mainContainer h2{
    font-size: x-large;
}

.map { 
    height: 600px; 
    width: 1200px;
    margin: 20px 0;
}



@media (max-width: 1200px) {
    .mainContainer{
        max-width: 900px;
        height: 680px;
    }
    .map{
        width: 900px;
        height: 480px;
    }
}

@media (max-width: 900px) {
    .mainContainer{
        max-width: 100vw;
        height: 50vh;
    }
    .map{
        width: 100vw;
        height: 50vh;
    }
    h1,h3{
        text-align: center;
    }
}